body{
margin: 0;
padding: 0;
}
.div{
height: 100%;
width: 100%;
}
.div img{
filter: saturate(0%);
width: 5%;
height: 220px;
border: 2px solid #040720;
object-fit:cover;
padding-top: 2px;
border-radius: 5px;
transition: all ease 0.5s;
cursor: pointer;
}
.div img:hover {
 filter: saturate(100%);
 width: 50%;
 height: 100%;
}